
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/jquery.slider.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="~/Content/StyleSheet1.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Auction-Prop | This Is Us</title>

</head>

<body class="page-sub-page page-listing page-grid page-search-results" id="page-top">

    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">This Is Us</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- About Us -->
                <div class="col-md-12 col-sm-12">
                    <section id="about-us">
                        <header><h1>About Us</h1></header>
                        <section id="ceo-section" class="center">
                            <header class="center"><div class="cite-title">Serving you since 2015</div></header>
                            <div class="cite no-bottom-margin">
                                Auction-prop is one of the leaders in online real-estate marketing, using real time technology to buy and sell property.
                                We proud ourselves in pushing the envelope with cutting-edge auction technology.  We will create a marketing platform for our buyers and sellers to accomplish successful transactions.
                                We specialize in residential- commercial- and agricultural properties, as well as a national footprint
                            </div>
                            <hr class="divider">
                            <a href="agent-detail.html" class="image"><img alt="" src="~/assets/img/agent-01.jpg"></a>
                            <a href="agent-detail.html"><h3>Janus Kruger</h3></a>
                            <figure class="subtitle">Co-Founder and CEO</figure>
                            <div class="background-image"><img alt="" src="~/assets/img/about-us-bg.jpg"></div>
                        </section><!-- /#ceo-section -->
                        <div class="divider-image center"><img alt="" src="~/img/sine-wave.png"></div>
                        <section id="our-team">
                            <header class="center"><h2 class="no-border">Our Team</h2></header>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5">
                                    <div class="member">
                                        <a class="image"><img alt="" src="~/assets/img/guy.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Rudo Kirsten</h3></a>
                                            <figure class="subtitle">Co-Founder and Auctioneer</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd><a href="tel:083-461-6555">083 461 6555</a></dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:rudo@auction-prop.com">rudo@auction-prop.com</a></dd>
                                                <dt>Skype:</dt>
                                                <dd>rudo.kirsten</dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-5 -->
                                <div class="col-md-5 col-sm-5">
                                    <div class="member">
                                        <a class="image"><img alt="" src="~/assets/img/blueman.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>JP Herbst</h3></a>
                                            <figure class="subtitle">Co-Founder and Marketing Director</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd><a href="tel:083-556-3529">083 556 3529</a></dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:jp@auction-prop.com">jp@auction-prop.com</a></dd>
                                                <dt>Skype:</dt>
                                                <dd>jpherbst1</dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-5 -->
                            </div><!-- /.row -->
                        </section><!-- /#our-tem -->
                        <section id="ceo-section" class="center">
                            <header class="center"><div class="cite-title">Cutting Edge Auction Technology</div></header>
                            <div class="cite no-bottom-margin">
                                Regardless of the type of asset, you have to sell, whether it’s a large Residential Property, Development Land, Commercial Property
                                or Agricultural we can handle the auction – live and online.
                            </div>
                            <div class="cite no-bottom-margin">
                                We push the envelope with cutting-edge auction technology – from search engine optimization to highlight your assets to specialty internet marketing
                                the professionals as Auction-Prop is ready to bring the market to your door.
                            </div>
                            <div class="cite no-bottom-margin">
                                Our highly trained professional staff knows how to organize an auction to benefit you the most – from the initial phone call to the marketing process to the final check,
                                you can count on Auction-Prop to provide the maximum return for your assets.
                            </div>
                            <hr class="divider">
                        </section>
                        <section id="ceo-section" class="center">
                            <header class="center"><div class="cite-title">Why Online Auctions?</div></header>
                            <div class="center cite no-bottom-margin">
                                Online auctions is a time-proven and highly effective method
                                of selling real estate that offers many advantages over the traditional method of selling property.  With extensive marketing and a pre-determined auction sale date.
                                The greatest advantage of the online real-estate auction process is that it puts the seller in control of when and how the property will be sold.
                            </div>
                            <hr class="divider">
                        </section>
                        <section id="fun-facts" class="block counting-numbers">
                            <header class="center"><h2 class="no-border">Fun Facts</h2></header>
                            <div class="row">
                                <div class="fun-facts">
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="312">312</div>
                                            <figure>Properties Listed</figure>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="1045">1045</div>
                                            <figure>Satisfied Clients</figure>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="203">203</div>
                                            <figure>Properties Sold</figure>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="1825">1825</div>
                                            <figure>Days we are here</figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section><!-- /#fun-facts -->

                    </section><!-- /#about-us -->
                </div><!-- /.col-md-12 -->
                <!-- end About Us -->
                <!-- Sidebar goes here -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <script type="text/javascript" src="~/Scripts2/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Scripts2/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/Scripts2/icheck.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.vanillabox-0.1.5.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts2/tmpl.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts2/draggable-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.slider.js"></script>
    <script type="text/javascript" src="~/Scripts2/custom.js"></script>

</body>
</html>
