@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en-US">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Auction-Prop.com | FAQ's</title>

    <!-- ====== Favicons ====== -->
    <link href="~/assets/img/fat.png" rel="icon">

    <!-- ====== Google Fonts ====== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>

    <!-- ====== Vendor CSS Files ====== -->
    <link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

    <!-- ====== Template Main CSS File ====== -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Property Search Section Start ======= -->
    <div class="click-closed"></div>

    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Search Property</h3>
        </div>
        <span class="close-box-collapse right-boxed fa fa-chevron-circle-right"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="Type">Keyword</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="Type">Type</label>
                            <select class="form-control form-control-lg form-control-a" id="Type">
                                <option>All Types</option>
                                <option>Residential</option>
                                <option>Commercial</option>
                                <option>Agricultural</option>
                                <option>Investment</option>
                                <option>Bank Instruction</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control form-control-lg form-control-a" id="city">
                                <option>All City's</option>
                                <option>Johannesburg</option>
                                <option>Pretoria</option>
                                <option>Durban</option>
                                <option>Cape Town</option>
                                <option>Nelspruit</option>
                                <option>Polokwane</option>
                                <option>East London</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bedrooms">Bedrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bedrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="garages">Garages</label>
                            <select class="form-control form-control-lg form-control-a" id="garages">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bathrooms">Bathrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bathrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Search Property</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ======= Property Search Section End ======= -->
    <!-- ======= Intro and Breadcrumb Section Start ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Frequently Asked Questions</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://auction-prop.com/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                FAQ's
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Intro and Breadcrumb Section End ======= -->

    <div class="container">
        <div class="row">
            <!-- ====== FAQ's Section Start ====== -->
            <div class="col-md-9 col-sm-9">
                <section id="faq">
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>How do i stay informed on upcoming auctions?</header>
                            <p>
                                Go to our website and navigate to our Auction notification page.
                                Just fill out the form, and you will be notified of all upcoming auction dates.
                                Alternatively, follow us on our Facebook page, to stay updated and informed on all things Auction.
                                You can also email us at info@auction-prop.com.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>Can i buy a property before the Auction?</header>
                            <p>
                                This should be discussed with the Auctioneer as that is permissible on rare occasions.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>What does an "AUCTION WITH RESERVE" mean?</header>
                            <p>
                                Lots at auctions are sold with undisclosed reserves set by the Seller, which means offers are subject to confirmation by the Seller
                                within a certain time period. When a lot is sold subject to confirmation, this is not a reserve, but merely a formality to protect
                                sellers and creditors from having secured assets being sold well below their market value, giving Sellers the opportunity to decide
                                whether they are willing to accept the offers achieved on auction.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>Can i get a Bond for Real Estate purchased on Auction?</header>
                            <p>
                                Yes. However, auctions are non-suspensive transactions and as such your offer at an auction sale is NOT subject to you obtaining a bond.
                                Should you wish to obtain a bond, this is acceptable. If, for any reason you are not granted a bond, or do not qualify for the amount to
                                which you have bid, you will still be held liable and responsible to fulfill al your obligations in terms of the agreement signed at the auction.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>When must i pay the Deposit and Auctioneer's Commission?</header>
                            <p>
                                The Deposit and Auctionee’s Commission are payable immediately on the fall of the hammer, regardless of whether the sale is subject to confirmation.
                                These monies are payable upfront and immediately, and cannot form part of any financing that you may have applied for.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>When is the balance of the purchase price due?</header>
                            <p>
                                The balance of the bid price is due on registration of transfer in the case of a Real Estate purchase.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>Do i need to register in order to bid on an Auction, or can i just bid?</header>
                            <p>
                                Yes. You do need to register in order to bid. You will be required to fill out a registration form, and you will be allocated an exclusive Bidder’s number.
                                You will be able to pre-register for auction events on our website.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>Do i need to pay a deposit in order to register to bid?</header>
                            <p>
                                No. You are required to indicate whether your purchase will be cash and/or bonded. And then supply the necessary documentation in order to participate in an auction.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>What happens if i default on the sale?</header>
                            <p>
                                The Seller will reserve his/her right to take the necessary legal action agains you, should you be in breach of contract or fail to fulfill any of your obligations
                                in terms of the Conditions of Sale/ They can exercise their various options, which will be stipulated in the Conditions of Sale. Ultimately you will be held liable
                                and responsible to fulfill your obligations. Should you still remain in breach of contract, all monies already paid by you to the auctioneer and/or Seller will be
                                forfeited as “rouwkoop” (pre-estimated damages). It is very serious to go into breach after an auction and legal action will be taken. Therfore, if you harbour any
                                uncertainty, it is better not to bid.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>What happens if an item is sold to me "STC" (Subject To Confirmation)?</header>
                            <p>
                                Items sold STC are usually encumbered to a secured creditor and confirmation will be obtained within the time frame specified at the auction. During this period, you
                                are held bound by your offer. Payments is required immediately after the auction sale nonetheless. Should the sale for any reason not be confirmed, you will be immediately refunded.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                    <article class="faq">
                        <figure class="icon">Q</figure>
                        <div class="wrapper">
                            <header>What recourse do i have if my purchase is not to my satisfaction after the auction?</header>
                            <p>
                                Purchasers bidding on lots at an auction acknowledge that they have familiarized themselves with the items for which they are bidding. All items sold “voetstoots” and the bids are transparent.
                                Therefore, there is no recourse if you have made a mistake and bid for the wrong items or discover later that you are not happy with your purchase. Once you have bid, you are bound and you will
                                subsequently be required to pay in full for these assets.
                            </p>
                            <aside>Was this answer helpful?<a href="#">Yes</a><a href="#">No</a></aside>
                        </div>
                    </article>
                </section>
            </div>
            <!-- ====== FAQ's Section End ====== -->
        </div>
    </div>
    </div>

    <!-- ====== end Page Content ====== -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- ====== Vendor JS Files ====== -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/scrollreveal.min.js"></script>

    <!-- ====== Template Main JS File ====== -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>


