@{
    ViewBag.Title = "Sellers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en-US">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Auction-Prop.com | Sellers</title>

    <!-- Favicons -->
    <link href="~/assets/img/fat.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Property Search Section Start ======= -->
    <div class="click-closed"></div>

    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Search Property</h3>
        </div>
        <span class="close-box-collapse right-boxed fa fa-close"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="Type">Keyword</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="Type">Type</label>
                            <select class="form-control form-control-lg form-control-a" id="Type">
                                <option>All Types</option>
                                <option>Residential</option>
                                <option>Commercial</option>
                                <option>Agricultural</option>
                                <option>Investment</option>
                                <option>Bank Instruction</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control form-control-lg form-control-a" id="city">
                                <option>All City's</option>
                                <option>Johannesburg</option>
                                <option>Pretoria</option>
                                <option>Durban</option>
                                <option>Cape Town</option>
                                <option>Nelspruit</option>
                                <option>Polokwane</option>
                                <option>East London</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bedrooms">Bedrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bedrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="garages">Garages</label>
                            <select class="form-control form-control-lg form-control-a" id="garages">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bathrooms">Bathrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bathrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Search Property</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ======= Property Search Section End ======= -->
    <!-- ======= Intro and Breadcrumb Section Start ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Sellers Guide</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://auction-prop.com/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Sellers Guide
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Intro and Breadcrumb Section End ======= -->

    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-md-9 col-sm-9">
                <section id="content">
                    <section id="legal">
                        <section>
                            <h3>What are the advantages of Auctions?</h3>
                            <br />
                            <p>1. <strong>Immediacy</strong> At the fall of the hammer you will exchange contracts.</p>
                            <p>2. <strong>Speed</strong> From the time we commence marketing to exchange of contracts is only 4-6 weeks.</p>
                            <p>3. <strong>Wider Marketing</strong> Your property will receive maximum exposure of the market and inclusion on all social media as well as our website.</p>
                            <p>4. <strong>Confidence</strong> Buyers have more confidence, because they know that sellers are committed to selling and not likely to waste time. If buyers are more confident, then that good for you, the seller.</p>
                            <p>5. <strong>Decisive</strong> Buyers are forced to get organized and make decisions.</p>
                            <p>6. <strong>Competitive</strong> Buyers bid in a competitive atmosphere.</p>
                            <p>7. <strong>Certainty</strong> The fall of the gavel is the point when automatic exchange of contracts takes place.</p>
                            <p>8. <strong>Transparency</strong> The best price is seen to be achieved, thus satisfying all parties.</p>
                            <p>9. <strong>Completion</strong> This usually takes place 30-45 days from the Auction.</p>
                        </section>
                        <br />
                        <section>
                            <h3>What happens when selling by Auction?</h3>
                            <br />
                            <p>1. Auction-Prop will carry out a valuation and either advise you or confirm that the property is suitable to be sold by auction.</p>
                            <p>2. The price guide and expected reserve price will be discussed and agreed.</p>
                            <p>3. We have preset dates for auctions and the best date and venue to sell your property will be agreed.</p>
                            <p>4. The marketing campaign will be explained.</p>
                            <p>5. You will need to sign our sole and auction agency agreements and pay an entry fee.</p>
                            <p>6. After our agency agreements are signed, we will instruct your solicitors to prepare a legal pack. This pack will be published on our auction website as soon as it is available and therefore the quicker that you instruct your solicitor the better.</p>
                            <p>7. Sales details will be prepared for your approval.</p>
                            <p>8. Adverts will be placed, details circulated on mailing lists and viewings arranged.</p>
                            <p>9. You will be kept informed of the interest levels in the property.</p>
                            <p>10. You will be advised of offers that have been qualified. Unqualified or uncorroborated offers may not be put forward to you.</p>
                            <p>11. You will be advised of our final recommendation for the reserve in the week prior to the auction having considered the level of interest shown during marketing.</p>
                            <p>12. You will need to sign and return the final reserve figure by letter.</p>
                            <p>13. Completion will take place with your solicitors in the usual way.</p>
                        </section>
                        <section>
                            <br />
                            <h3>Please contact us for more information. Or attend one of our auctions to see how they work.</h3>
                        </section>
                        <br />
                    </section>
                </section><!-- /#agent-detail -->
            </div><!-- /.col-md-9 -->
            <!-- end Content -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/scrollreveal.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>




