@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Account Suspended</h1>
    <h2 class="text-danger">Your Account has been Temporarily suspended, please try again later. Or Contact Us at info@auction-prop.com</h2>
</hgroup>
