@model Auction_Prop_Sellers.Models.ErrorModels.ErrorViewModel
@{
    ViewBag.Title = "ErrorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error View</h2>
<div>
    Soemething went wrong.
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

